.footerSmall {
    font-size: 0.7rem;
}

.footer {
    background: transparent;
    position: relative;
}

.wave {
    position: fixed;
    left: 0;
    bottom: 0;
}

.contribute:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
    border-color: #0070f3;
    border-style: solid;
    padding: 10px;
    border-radius: 1rem;
}

.footerLinks span {
    font-size: 0.8rem;
    margin: 1.5rem;
}

.footerLinks span:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}

.link  {
    font-size: 1.2rem;
}

.link:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}