.container {
    padding: 0 2rem;
}

.title {
    font-size: 2.5rem;
    display: inline-block;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    background: #03DDFF;
    background: linear-gradient(to right, #03DDFF 0%, #0000CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.gridHeaders {
    padding: 10px;
}

.questionsAndSolutions {
    text-align: center;
}

.questionsAndSolutions:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}

.footerSmall {
    font-size: 0.7rem;
}

.link {
    font-size: 1.2rem;
}

.link  {
    font-size: 1rem;
}

.link:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer {
    background: transparent;
    position: relative;
}

.wave {
    position: fixed;
    left: 0;
    bottom: 0;
}

.contribute:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
    border-color: #0070f3;
    border-style: solid;
    padding: 10px;
    border-radius: 1rem;
}









