.container {
    padding: 0 2rem;
}


.title {
    font-size: 2.2rem;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: auto;
    background: conic-gradient(#00FFF6, #009EFF, #0014FF, #00FFF6);
    background-clip: text;
    color: transparent;
    background-size: 2000px 2000px;
    animation: rgb 5s infinite linear;
}

.title:hover{
    cursor: pointer;
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }

}



.content {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: center;
    /*border: red solid;*/

}

.pageHeader{
    position: relative;
    /*border: red solid;*/
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem auto;
}

.pageHeader:hover {
    font-size: 2rem;
    color: #0070f3;
    transition: 0.4s ease;
    cursor: pointer;
}

.pageHeader3{
    position: relative;
    /*border: red solid;*/
    font-size: 1.5rem;
    display: inline-block;
    margin: 1rem auto;
}

.pageHeader3:hover {
    /*font-size: 2rem;*/
    /*color: #0070f3;*/
    /*transition: 0.4s ease;*/
    cursor: not-allowed;
}







.footerSmall {
    font-size: 0.7rem;
}



.link  {
    font-size: 1rem;
}

.link:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
    cursor: pointer;

}

.footer {
    background: transparent;
    position: relative;
}


.contribute {
    font-size: 0.9rem;
}

.contribute:hover {
    color: #0070f3;
    transition: 0.5s;
    cursor: pointer;

}

.footerLinks span {
    font-size: 0.8rem;
    margin: 1.5rem;
}

.footerLinks span:hover {
    color: #0070f3;
    transition: 0.5s;
    cursor: pointer;

}









