.container {
    padding: 0
}

.title {
    font-size: 2.2rem;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: auto;
    background: conic-gradient(#00FFF6, #009EFF, #0014FF, #00FFF6);
    background-clip: text;
    color: transparent;
    background-size: 2000px 2000px;
    animation: rgb 5s infinite linear;
}
@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }

}

.header {
    font-size: 4rem;

    display: inline-block;
    margin: 0 auto;

    text-align: center;
    padding: 2rem;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    background: #03DDFF;
    background: linear-gradient(to right, #03DDFF 0%, #0000CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}


.footerSmall {
    font-size: 0.7rem;
}


.link {
    font-size: 1rem;
}

.link:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer {
    background: transparent;
    position: relative;
}


.contribute:hover {
    color: #0070f3;
    transition: 0.5s;
}

.footerLinks span {
    font-size: 0.8rem;
    margin: 1rem;
}

.footerLinks span:hover {
    color: #0070f3;
    transition: 0.5s;
}


div#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
}

.container {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#pageContent {
    padding-bottom: 60px;
}

.linkInPara {

    overflow: hidden;
}

.linkInPara:hover {

    color: #0070f3;
    overflow: hidden;
    transition: 0.5s;
}


