.container {
    padding: 0
}

.title {
    font-size: 2.2rem;
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: auto;
    background: #03DDFF;
    background: linear-gradient(to right, #03DDFF 0%, #0000CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.header {
    font-size: 4rem;

    display: inline-block;
    margin: 0 auto;

    text-align: center;
    padding: 2rem;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
    background: #03DDFF;
    background: linear-gradient(to right, #03DDFF 0%, #0000CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}


.footerSmall {
    font-size: 0.7rem;
}


.link {
    font-size: 1rem;
}

.link:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}

.footer {
    background: transparent;
    position: relative;
}


.contribute:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
    border-color: #0070f3;
    border-style: solid;
    padding: 10px;
    border-radius: 1rem;
}

.footerLinks span {
    font-size: 0.8rem;
    margin: 1rem;
}

.footerLinks span:hover {
    color: #0070f3;
    font-size: 1.2rem;
    transition: 0.5s;
}


div#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
}

.container {
    height: auto !important;
    min-height: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

div#pageContent {
    padding-bottom: 60px;
}

.websiteMention {
    background: #0070f3;
    background: linear-gradient(to right, #03DDFF 0%, #0000CF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}


